<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Jeannie Nguyen</title>

	<!-- Styles -->
	<link rel="stylesheet" href="css/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

	<!-- Scripts -->
	<script type="text/javascript" src="display.js"></script>
</head>
<body>
	<div class="coverphoto">
		<div class="header">
			<span class="header--title">Jeannie Nguyen</span>
			<span class="header--subtitle">Designer. Developer. Engineer.</span>

			<div class="navbar">
				<div class="navbar-item navbar-item--resume">
					<a href="#resume"><span class="navbar-item--resume">Resume</span></a>
				</div>
				<div class="navbar-item navbar-item--portfolio">
					<a href="#portfolio"><span class="navbar-item--porfolio">Portfolio</span></a>
				</div>
				<div class="navbar-item navbar-item--contact">
					<a href="#contact"><span class="navbar-item--contact">Contact</span></a>
				</div>
			</div> 
		</div>
	</div>
	<div id="resume">
		<div class="resume-header">
			<span class="resume-header--title">RESUME</span>
				<span class="resume-header--subtitle"> Recent UCLA grad. Solid eye for design and a strong background in development. Web, software and mobile experience. </span>
			<span class="resume-header--download"><a href="./css/image/resume.pdf" download>DOWNLOAD RESUME
			</a></span>
		</div>
	</div>
	<div id="portfolio">
		<div class="portfolio-header">
			<span class="portfolio-header--title">PORTFOLIO</span>
				<span class="portfolio-header--subtitle">A collection of both web design and front-end web development projects-some personal, some in collaboration with a team.</span>
		</div>
		<div class="portfolio-row">
			<div class="portfolio-column portfolio-column--left">
				<a href="http://bloomnation.com" target="_blank"><img src="./css/image/bloom.jpg" /></a>
				<p class="description">Built pages in HTML &amp; CSS from wireframes (Team)</p>
			</div>
			<div class="portfolio-column portfolio-column--center">
				<a href="http://marksgarden.com" target="_blank"><img src="./css/image/marks.jpg" /></a>
				<p class="description">Built pages in HTML &amp; CSS from wireframes (Team)</p>
			</div>
			<div class="portfolio-column portfolio-column--right">
				<a href="http://mdsflorist.com" target="_blank"><img src="./css/image/mds.jpg" /></a>
				<p class="description">Designed banners and layouts in PS and CSS</p>
			</div>
		</div>
		<div class="portfolio-row">
			<div class="portfolio-column portfolio-column--left">
				<a href="http://tothedesigncorner.tumblr.com" target="_blank"><img src="./css/image/design.jpg" /></a>
				<p class="description">Designed &amp; built custom tumblr theme</p>
			</div>
			<div class="portfolio-column portfolio-column--center">
				<a href="http://letuseattheworld.tumblr.com" target="_blank"><img src="./css/image/food.jpg" /></a>
				<p class="description">Designed &amp; built custom tumblr theme</p>
			</div>
			<div class="portfolio-column portfolio-column--right">
				<img src="./css/image/dmw.jpg" />
				<p class="description">Designed &amp; built custom tumblr theme (not yet live)</p>
			</div>
		</div>
		<div class="portfolio-row">
			<div class="portfolio-column portfolio-column--left">
				<img src="./css/image/kangaroo.png" />
				<p class="description">Create new layout for white label sites(not yet live)</p>
			</div>
			<div class="portfolio-column portfolio-column--center">
				<img src="./css/image/jb.png" />
				<p class="description">Create new layout for white label sites (not yet live)</p>
			</div>
			<div class="portfolio-column portfolio-column--right">
				<img src="./css/image/cotton.png" />
				<p class="description">Create new layout for white label sites (not yet live)</p>
			</div>
		</div>
	</div>
	<div class="footer" id="contact">
			<span class="footer-title">CONTACT</span>
			<span class="footer-content">E-mail: jeannieanguyen@gmail.com</span>
			<a href="https://www.linkedin.com/pub/jeannie-nguyen/84/650/844" target="_blank"><span class="footer-content linkedIn">LinkedIn Profile</span></a>
			<a href="#"><img class="footer-backToTop" src="./css/image/arrow.png" /></a>
</body>
</html>