<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Jeannie Nguyen</title>

	<!-- Styles -->
	<link rel="stylesheet" href="css/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="coverphoto">
		<div class="header">
			<span class="header--title">Jeannie Nguyen</span><br />
			<span class="header--subtitle">Designer. Developer. Engineer.</span>

			<div class="navbar">
				<div class="navbar-item">
					<a href="#"><span class="navbar-item--resume">Resume</span></a>
				</div>
				<div class="navbar-item">
					<a href="#"><span class="navbar-item--porfolio">Portfolio</span></a>
				</div>
				<div class="navbar-item">
					<a href="#"><span class="navbar-item--contact">Contact</span></a>
				</div>
			</div> 
		</div>
	</div>
	<div class="construction">
		<span> Under Construction! Check back again soon!</span>
	</div>
</body>
</html>